--
-- PostgreSQL database dump
--

\restrict dq5zt6SDRIottEwBk6x9HIfthFaja6x7qYyhTufAqGBhNff7Yaz0wPlLdOAhPeN

-- Dumped from database version 13.23 (Debian 13.23-1.pgdg13+1)
-- Dumped by pg_dump version 13.23 (Debian 13.23-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _annotations; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._annotations (
    end_pos integer,
    start_pos integer,
    doc_id bigint,
    id bigint NOT NULL,
    user_id bigint
);


ALTER TABLE public._annotations OWNER TO crossword_new;

--
-- Name: _annotations_comments; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._annotations_comments (
    annotation_id bigint NOT NULL,
    comment character varying(255)
);


ALTER TABLE public._annotations_comments OWNER TO crossword_new;

--
-- Name: _annotations_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public._annotations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public._annotations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _comments; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._comments (
    created_at timestamp(6) without time zone,
    doc_id bigint,
    id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    user_id bigint,
    text text
);


ALTER TABLE public._comments OWNER TO crossword_new;

--
-- Name: _comments_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public._comments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public._comments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _digest_core_ratings; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._digest_core_ratings (
    digest_rating integer,
    digest_core_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public._digest_core_ratings OWNER TO crossword_new;

--
-- Name: _digest_cores; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._digest_cores (
    date timestamp(6) without time zone,
    id bigint NOT NULL,
    digest_template_id character varying(255),
    text text
);


ALTER TABLE public._digest_cores OWNER TO crossword_new;

--
-- Name: _digest_cores_docs; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._digest_cores_docs (
    digest_core_id bigint NOT NULL,
    doc_id bigint NOT NULL
);


ALTER TABLE public._digest_cores_docs OWNER TO crossword_new;

--
-- Name: _digest_cores_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public._digest_cores ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public._digest_cores_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _digest_subscription_settings; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._digest_subscription_settings (
    edited boolean,
    mobile_notifications boolean,
    send_to_mail boolean,
    digest_subscription_id bigint NOT NULL,
    subscriber_id bigint NOT NULL
);


ALTER TABLE public._digest_subscription_settings OWNER TO crossword_new;

--
-- Name: _digest_subscriptions; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._digest_subscriptions (
    mobile_notifications boolean,
    public boolean,
    send_to_mail boolean,
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    owner_id bigint,
    description character varying(255),
    template_id character varying(255)
);


ALTER TABLE public._digest_subscriptions OWNER TO crossword_new;

--
-- Name: _digest_subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public._digest_subscriptions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public._digest_subscriptions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _digest_templates; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._digest_templates (
    id character varying(255) NOT NULL
);


ALTER TABLE public._digest_templates OWNER TO crossword_new;

--
-- Name: _digest_templates_sources; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._digest_templates_sources (
    digest_template_id character varying(255) NOT NULL,
    sources character varying(255),
    CONSTRAINT _digest_templates_sources_sources_check CHECK (((sources)::text = ANY ((ARRAY['INTER'::character varying, 'COMMER'::character varying, 'CBUZ'::character varying, 'CBTAJ'::character varying, 'CBKIR'::character varying, 'CBAZER'::character varying, 'CBRF'::character varying, 'CBGRUZ'::character varying])::text[])))
);


ALTER TABLE public._digest_templates_sources OWNER TO crossword_new;

--
-- Name: _digest_templates_tags; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._digest_templates_tags (
    tag_id bigint NOT NULL,
    digest_template_id character varying(255) NOT NULL
);


ALTER TABLE public._digest_templates_tags OWNER TO crossword_new;

--
-- Name: _digests; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._digests (
    digest_core_id bigint NOT NULL,
    digest_subscription_id bigint NOT NULL
);


ALTER TABLE public._digests OWNER TO crossword_new;

--
-- Name: _docs_packages; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._docs_packages (
    doc_id bigint NOT NULL,
    user_id bigint NOT NULL,
    package_name character varying(255) NOT NULL
);


ALTER TABLE public._docs_packages OWNER TO crossword_new;

--
-- Name: _docs_tags; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._docs_tags (
    doc_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


ALTER TABLE public._docs_tags OWNER TO crossword_new;

--
-- Name: _documents; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._documents (
    date timestamp(6) without time zone,
    id bigint NOT NULL,
    last_edit timestamp(6) without time zone,
    language character varying(255),
    source character varying(255),
    summary text,
    url character varying(255),
    CONSTRAINT _documents_language_check CHECK (((language)::text = ANY ((ARRAY['RU'::character varying, 'ENG'::character varying])::text[]))),
    CONSTRAINT _documents_source_check CHECK (((source)::text = ANY ((ARRAY['INTER'::character varying, 'COMMER'::character varying, 'CBUZ'::character varying, 'CBTAJ'::character varying, 'CBKIR'::character varying, 'CBAZER'::character varying, 'CBRF'::character varying, 'CBGRUZ'::character varying])::text[])))
);


ALTER TABLE public._documents OWNER TO crossword_new;

--
-- Name: _documents_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public._documents ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public._documents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _fcm_tokens; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._fcm_tokens (
    id bigint NOT NULL,
    user_id bigint,
    token character varying(255)
);


ALTER TABLE public._fcm_tokens OWNER TO crossword_new;

--
-- Name: _fcm_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public._fcm_tokens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public._fcm_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _packages; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._packages (
    user_id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public._packages OWNER TO crossword_new;

--
-- Name: _ratings; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._ratings (
    classification_rating integer,
    summary_rating integer,
    doc_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public._ratings OWNER TO crossword_new;

--
-- Name: _refresh; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._refresh (
    expiry_date timestamp(6) with time zone,
    id bigint NOT NULL,
    new_refresh_id bigint,
    user_id bigint,
    version bigint,
    ip character varying(255),
    token character varying(255),
    user_agent character varying(255)
);


ALTER TABLE public._refresh OWNER TO crossword_new;

--
-- Name: _refresh_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public._refresh ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public._refresh_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _tags; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._tags (
    id bigint NOT NULL,
    name character varying(255)
);


ALTER TABLE public._tags OWNER TO crossword_new;

--
-- Name: _tags_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public._tags ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public._tags_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _users; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._users (
    mobile_notifications boolean,
    personal_mobile_notifications boolean,
    personal_send_to_mail boolean,
    send_to_mail boolean,
    subscribable boolean,
    verified boolean,
    id bigint NOT NULL,
    telegram_id bigint,
    email character varying(255),
    name character varying(255),
    password character varying(255),
    role character varying(255),
    surname character varying(255),
    username character varying(255),
    CONSTRAINT _users_role_check CHECK (((role)::text = ANY ((ARRAY['ROLE_ADMIN'::character varying, 'ROLE_MODERATOR'::character varying])::text[])))
);


ALTER TABLE public._users OWNER TO crossword_new;

--
-- Name: _users_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public._users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public._users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _verifycode; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public._verifycode (
    code integer,
    user_id bigint NOT NULL
);


ALTER TABLE public._verifycode OWNER TO crossword_new;

--
-- Name: telegram_link_tokens; Type: TABLE; Schema: public; Owner: crossword_new
--

CREATE TABLE public.telegram_link_tokens (
    used boolean NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    expires_at timestamp(6) without time zone NOT NULL,
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    token character varying(255) NOT NULL
);


ALTER TABLE public.telegram_link_tokens OWNER TO crossword_new;

--
-- Name: telegram_link_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: crossword_new
--

ALTER TABLE public.telegram_link_tokens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.telegram_link_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: _annotations _annotations_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._annotations
    ADD CONSTRAINT _annotations_pkey PRIMARY KEY (id);


--
-- Name: _comments _comments_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._comments
    ADD CONSTRAINT _comments_pkey PRIMARY KEY (id);


--
-- Name: _digest_core_ratings _digest_core_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_core_ratings
    ADD CONSTRAINT _digest_core_ratings_pkey PRIMARY KEY (digest_core_id, user_id);


--
-- Name: _digest_cores _digest_cores_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_cores
    ADD CONSTRAINT _digest_cores_pkey PRIMARY KEY (id);


--
-- Name: _digest_subscription_settings _digest_subscription_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_subscription_settings
    ADD CONSTRAINT _digest_subscription_settings_pkey PRIMARY KEY (digest_subscription_id, subscriber_id);


--
-- Name: _digest_subscriptions _digest_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_subscriptions
    ADD CONSTRAINT _digest_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: _digest_templates _digest_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_templates
    ADD CONSTRAINT _digest_templates_pkey PRIMARY KEY (id);


--
-- Name: _digest_templates_tags _digest_templates_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_templates_tags
    ADD CONSTRAINT _digest_templates_tags_pkey PRIMARY KEY (tag_id, digest_template_id);


--
-- Name: _digests _digests_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digests
    ADD CONSTRAINT _digests_pkey PRIMARY KEY (digest_core_id, digest_subscription_id);


--
-- Name: _docs_packages _docs_packages_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._docs_packages
    ADD CONSTRAINT _docs_packages_pkey PRIMARY KEY (doc_id, user_id, package_name);


--
-- Name: _documents _documents_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._documents
    ADD CONSTRAINT _documents_pkey PRIMARY KEY (id);


--
-- Name: _fcm_tokens _fcm_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._fcm_tokens
    ADD CONSTRAINT _fcm_tokens_pkey PRIMARY KEY (id);


--
-- Name: _packages _packages_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._packages
    ADD CONSTRAINT _packages_pkey PRIMARY KEY (user_id, name);


--
-- Name: _ratings _ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._ratings
    ADD CONSTRAINT _ratings_pkey PRIMARY KEY (doc_id, user_id);


--
-- Name: _refresh _refresh_new_refresh_id_key; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._refresh
    ADD CONSTRAINT _refresh_new_refresh_id_key UNIQUE (new_refresh_id);


--
-- Name: _refresh _refresh_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._refresh
    ADD CONSTRAINT _refresh_pkey PRIMARY KEY (id);


--
-- Name: _tags _tags_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._tags
    ADD CONSTRAINT _tags_pkey PRIMARY KEY (id);


--
-- Name: _users _users_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._users
    ADD CONSTRAINT _users_pkey PRIMARY KEY (id);


--
-- Name: _verifycode _verifycode_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._verifycode
    ADD CONSTRAINT _verifycode_pkey PRIMARY KEY (user_id);


--
-- Name: telegram_link_tokens telegram_link_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public.telegram_link_tokens
    ADD CONSTRAINT telegram_link_tokens_pkey PRIMARY KEY (id);


--
-- Name: telegram_link_tokens telegram_link_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public.telegram_link_tokens
    ADD CONSTRAINT telegram_link_tokens_token_key UNIQUE (token);


--
-- Name: idx_digest_core_date; Type: INDEX; Schema: public; Owner: crossword_new
--

CREATE INDEX idx_digest_core_date ON public._digest_cores USING btree (date);


--
-- Name: idx_digest_subscription_date; Type: INDEX; Schema: public; Owner: crossword_new
--

CREATE INDEX idx_digest_subscription_date ON public._digests USING btree (digest_subscription_id, digest_core_id DESC);


--
-- Name: _fcm_tokens fk25brb7d0bwx2gjy3egmf08io9; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._fcm_tokens
    ADD CONSTRAINT fk25brb7d0bwx2gjy3egmf08io9 FOREIGN KEY (user_id) REFERENCES public._users(id);


--
-- Name: _digest_core_ratings fk2ygn3qupx75shafkr8c62625h; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_core_ratings
    ADD CONSTRAINT fk2ygn3qupx75shafkr8c62625h FOREIGN KEY (digest_core_id) REFERENCES public._digest_cores(id);


--
-- Name: _digests fk3nvhcqm31vocas1n7ir2o1tj; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digests
    ADD CONSTRAINT fk3nvhcqm31vocas1n7ir2o1tj FOREIGN KEY (digest_core_id) REFERENCES public._digest_cores(id);


--
-- Name: _digest_cores_docs fk4jiaa6kb3p63in5t6cvpfkcwy; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_cores_docs
    ADD CONSTRAINT fk4jiaa6kb3p63in5t6cvpfkcwy FOREIGN KEY (doc_id) REFERENCES public._documents(id);


--
-- Name: _digest_cores_docs fk9b3db1nhenlju9eta1jnu35le; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_cores_docs
    ADD CONSTRAINT fk9b3db1nhenlju9eta1jnu35le FOREIGN KEY (digest_core_id) REFERENCES public._digest_cores(id);


--
-- Name: _refresh fk9bjkjj1m8d71neo70a6djit9t; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._refresh
    ADD CONSTRAINT fk9bjkjj1m8d71neo70a6djit9t FOREIGN KEY (new_refresh_id) REFERENCES public._refresh(id);


--
-- Name: _refresh fka024vxfmdnkvlmrqslnx9ty1y; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._refresh
    ADD CONSTRAINT fka024vxfmdnkvlmrqslnx9ty1y FOREIGN KEY (user_id) REFERENCES public._users(id);


--
-- Name: _digest_templates_tags fkaigs3xaavumkfe6iy4dxgbnwr; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_templates_tags
    ADD CONSTRAINT fkaigs3xaavumkfe6iy4dxgbnwr FOREIGN KEY (digest_template_id) REFERENCES public._digest_templates(id);


--
-- Name: _annotations_comments fkallu2afeyrtb9fimntyrxuf70; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._annotations_comments
    ADD CONSTRAINT fkallu2afeyrtb9fimntyrxuf70 FOREIGN KEY (annotation_id) REFERENCES public._annotations(id);


--
-- Name: _docs_tags fkaquxyvslul1gd4nlxy5spta3q; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._docs_tags
    ADD CONSTRAINT fkaquxyvslul1gd4nlxy5spta3q FOREIGN KEY (doc_id) REFERENCES public._documents(id);


--
-- Name: _digest_subscription_settings fkbq9ci5kabjaul3mq8u3f99gm2; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_subscription_settings
    ADD CONSTRAINT fkbq9ci5kabjaul3mq8u3f99gm2 FOREIGN KEY (digest_subscription_id) REFERENCES public._digest_subscriptions(id);


--
-- Name: _comments fkci76f7g7cq29qfl6ib200t93v; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._comments
    ADD CONSTRAINT fkci76f7g7cq29qfl6ib200t93v FOREIGN KEY (user_id) REFERENCES public._users(id);


--
-- Name: _digests fkdlgp5v0v21lob2cfyl9jm4hd3; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digests
    ADD CONSTRAINT fkdlgp5v0v21lob2cfyl9jm4hd3 FOREIGN KEY (digest_subscription_id) REFERENCES public._digest_subscriptions(id) ON DELETE CASCADE;


--
-- Name: _docs_tags fkdxelwg9xxe14ro1b3crpsv74e; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._docs_tags
    ADD CONSTRAINT fkdxelwg9xxe14ro1b3crpsv74e FOREIGN KEY (tag_id) REFERENCES public._tags(id);


--
-- Name: _digest_subscriptions fkgkgr9ocxomlna26m6ppwqdqp7; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_subscriptions
    ADD CONSTRAINT fkgkgr9ocxomlna26m6ppwqdqp7 FOREIGN KEY (owner_id) REFERENCES public._users(id);


--
-- Name: _digest_templates_sources fkikygj1eph41i2gfa1mxuyvkb4; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_templates_sources
    ADD CONSTRAINT fkikygj1eph41i2gfa1mxuyvkb4 FOREIGN KEY (digest_template_id) REFERENCES public._digest_templates(id);


--
-- Name: _comments fkk2ym5fn04fxpof8y2xbxmlqow; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._comments
    ADD CONSTRAINT fkk2ym5fn04fxpof8y2xbxmlqow FOREIGN KEY (doc_id) REFERENCES public._documents(id);


--
-- Name: _digest_templates_tags fklw2c63cmopa8go34i17muxsdg; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_templates_tags
    ADD CONSTRAINT fklw2c63cmopa8go34i17muxsdg FOREIGN KEY (tag_id) REFERENCES public._tags(id);


--
-- Name: _packages fkmdftlrqv24vdso2hh94oaus0p; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._packages
    ADD CONSTRAINT fkmdftlrqv24vdso2hh94oaus0p FOREIGN KEY (user_id) REFERENCES public._users(id);


--
-- Name: _docs_packages fkmedkt3bpuys1bjiry4xpcs5lo; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._docs_packages
    ADD CONSTRAINT fkmedkt3bpuys1bjiry4xpcs5lo FOREIGN KEY (user_id, package_name) REFERENCES public._packages(user_id, name);


--
-- Name: _digest_cores fknwf1vrxutxvge7n528uve36ml; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_cores
    ADD CONSTRAINT fknwf1vrxutxvge7n528uve36ml FOREIGN KEY (digest_template_id) REFERENCES public._digest_templates(id);


--
-- Name: _verifycode fkny8x0umpaou9j60i3qlvstw3e; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._verifycode
    ADD CONSTRAINT fkny8x0umpaou9j60i3qlvstw3e FOREIGN KEY (user_id) REFERENCES public._users(id);


--
-- Name: _ratings fkojeg2c5riyo3h43l4mul7s5hl; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._ratings
    ADD CONSTRAINT fkojeg2c5riyo3h43l4mul7s5hl FOREIGN KEY (user_id) REFERENCES public._users(id);


--
-- Name: _annotations fkowmfav7qj0uceb6fvb6ck8idw; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._annotations
    ADD CONSTRAINT fkowmfav7qj0uceb6fvb6ck8idw FOREIGN KEY (doc_id) REFERENCES public._documents(id);


--
-- Name: _ratings fkparonibvlrtv1gfcjbt2ppsbq; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._ratings
    ADD CONSTRAINT fkparonibvlrtv1gfcjbt2ppsbq FOREIGN KEY (doc_id) REFERENCES public._documents(id);


--
-- Name: _digest_subscriptions fkprea669rtw3puqtycwqtaok4t; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_subscriptions
    ADD CONSTRAINT fkprea669rtw3puqtycwqtaok4t FOREIGN KEY (template_id) REFERENCES public._digest_templates(id);


--
-- Name: _docs_packages fkra4l2du1yth596ualtd7vke4w; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._docs_packages
    ADD CONSTRAINT fkra4l2du1yth596ualtd7vke4w FOREIGN KEY (doc_id) REFERENCES public._documents(id);


--
-- Name: _digest_subscription_settings fkrk12dxmycsfa6hvr3ly71o4hn; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_subscription_settings
    ADD CONSTRAINT fkrk12dxmycsfa6hvr3ly71o4hn FOREIGN KEY (subscriber_id) REFERENCES public._users(id);


--
-- Name: _digest_core_ratings fksdt4x0f9mn6otgxxc83gxn7co; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._digest_core_ratings
    ADD CONSTRAINT fksdt4x0f9mn6otgxxc83gxn7co FOREIGN KEY (user_id) REFERENCES public._users(id);


--
-- Name: _annotations fkt4l2k1dd9t16idcp5fu4422wp; Type: FK CONSTRAINT; Schema: public; Owner: crossword_new
--

ALTER TABLE ONLY public._annotations
    ADD CONSTRAINT fkt4l2k1dd9t16idcp5fu4422wp FOREIGN KEY (user_id) REFERENCES public._users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict dq5zt6SDRIottEwBk6x9HIfthFaja6x7qYyhTufAqGBhNff7Yaz0wPlLdOAhPeN

